.App {
  text-align: center;
}

.category-list {
  text-align: center
}

.category-item {
  display: inline-block;
  margin: 40px;
}

li {
  margin: 10px
}

ul {
  margin-bottom: 30px
}

span {
  margin: 20px
}

.sort-controls a {
  margin: 10px;
}
.sort-controls a.disabled {
  cursor: default;
}
.sort-controls a:active {
  color: blue;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
